.paginaCancionActual {
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(170, 195, 179);
    color: rgb(0, 0, 0);
    object-fit: cover;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;

}

.paginaCancionActual img{
    width: 200px;
}

.reproductor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 200px;
    height: 100%;
}

.reproductorInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player{
    margin-bottom: 10em;
    width: 200px
}

